html {
    /* To make use of full height of page*/
    min-height: 100%;
    max-height: 534.4px;
    min-height: 100%;
    max-height: 1536px;
    margin: 0;
    background-color: blueviolet;
}


div#ball
{
    
    width: 40px;
    height: 40px;
    border-radius: 20px ;
    margin-top:25% ;
    margin-left: 50%; 
    background-color: green;
    padding: 0;
}

p
{
    padding: 0;
    font-size: 30px;
}

